* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "CeraPro", "sans-serif";
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.main-header {
    padding: 10px 0;
    background-color: #ffd502;
    color: #000000;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 65px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav {
    flex-grow: 1;
    user-select: none;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-item {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-item:hover > .nav-item__line  {
    opacity: 1;
}

.nav-item__line {
    position: absolute;
    bottom: -4px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    opacity: 0;
}

.search-input {
    width: 320px;
    padding: 9px 16px 9px 40px;
    font-size: 16px;
    transition: 0.3s;
    border: 2px solid transparent;
    border-radius: 48px;
}

.search {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('./assets/search.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.search-input:focus {
    border: 2px solid #0045b7;
}

.search-input:hover {
    border: 2px solid #0045b7;
}

.welcome {
    padding: 34px 16px;
    background-color: #efefef;
    font-size: 14px;
    line-height: 1.5;
}

.welcome > a {
    color: #006db7;
}

.welcome > a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
    overflow: hidden;
    padding-bottom: 43.75%;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero__text {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    color: #FFFFFF;
}
































































































































































































































































































































































































































































































































































































































































