.footer {
  text-align: center;
  font-size: 12px;
  padding: 8px;
  color: var(--color-text-muted);
  transition: 0.5s ease-in-out;
  transform: translateY(200px);

  &--visible {
    transform: translateY(0);
  }
}
