@use 'mixins';

.header {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  transform: translateY(-200px);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 12px 32px;
  }

  &__logo {
    @include mixins.grand-font;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-primary);
    user-select: none;
  }

  &--visible {
    transform: translateY(0);
  }

  &__game {
    font-size: 16px;
    font-weight: var(--fw-bold);
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color-accent);

    &:empty {
      display: none;
    }
  }
}
