@use 'mixins';

.nav {
  &__list {
    display: flex;
    gap: 16px;
  }

  &__item {
    font-size: 20px;
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
  }

  @include mixins.bp('desktop') {
    &__item {
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
